@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,500;0,700;1,400&display=swap');

body {
    /* background: rgba(0, 0, 0, 0.718); */

}

.active {
    @apply text-orange-500 underline underline-offset-4
    /* yani bu class routerniki yani ul ni ichidagi path linklarni qaysi biri activ holatda bo'lsa yani bosilgan bo'lsa yani qaysi pageni ichida bo'lsa shuni rangi shunday bolib tradi shunda user qaysi pageda turganini biladi bu saytdan foydalanishni qulaylashtiradi */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.pagination li {
    margin: 0.5px;
}

.pagination a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
}

.pagination a:hover {
    background: #eee;
}

.pagination li.activerPagination {
    background: rgb(255, 106, 0);
    border-radius: 4px;
    color: #fff;
}

.active-button {
    color: #fc3c1a;
}

/* #asosiy {

    background-image: url(./assets/eyes-line-circles-information-face-hd-wallpaper-preview.jpg);
    width: 100%;
    background-repeat: no-repeat;

    background-size: cover;

    background-position: center;

    height: 100vh;
} */